@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1 class="fw-bold">Manage your account</h1>
<div>
    <h2 class="h5 text-muted">Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3 mb-4">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
